# Byte-compiled / caches
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.dist-info/

# Virtual environments (Windows & Unix)
env/
venv/
.venv/
ENV/
Lib/
Include/
Scripts/
Lib_backup/

# Flask
instance/

# Logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# DB / misc
*.sqlite
